logs
project/project
project/target
target
tmp
.history
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin
clients/node_modules
conf/application.conf
apphome-youtube-html-app-deployment
clients/npm-debug.log
projectFilesBackup
npm-debug.log.34e937fcea90cab49f1c90b044439985
