@font-face {
  font-family: 'source_sans_prolight';
  src: url("styles/fonts/sourcesanspro-light-webfont.eot");
  src: url("styles/fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sourcesanspro-light-webfont.woff") format("woff"), url("fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_proregular';
  src: url("styles/fonts/sourcesanspro-regular-webfont.eot");
  src: url("styles/fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
}
.container {
  background: #fff;
  color: #333;
  width: 96%;
  height: auto;
  margin: 25px 2% 25px 2%;
  font-family: source_sans_prolight;
  font-size: 14px;
  font-weight: normal;
}
.yt-result-list {
  list-style: none;
  list-style-position: outside;
  padding: 0;
  margin: 20px 0;
}
.yt-result-list-item {
  margin: 20px 0;
  padding: 0;
  background-color: #f4f4f4;
}
.yt-result-list-item .yt-result-list-item--video {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(255,255,255,0.5);
  top: 0;
}
.yt-result-list-item .yt-result-list-item--video.visible {
  display: block;
}
.yt-result-list-item .yt-result-list-item--player {
  width: 80%;
  height: 600px;
  position: absolute;
  z-index: 2000;
  left: 9%;
  top: 10%;
}
.yt-result-list-item .yt-result-list-item--close {
  position: absolute;
  top: 9%;
  left: 87%;
  background: #c4110b;
  border-radius: 20px;
  width: 10px;
  height: 25px;
  color: #fff;
  padding: 5px 12.5px 5px 12.5px;
  font-size: 20px;
  z-index: 2001;
  cursor: pointer;
}
.yt-result-list-item .yt-result-list-item--close:hover {
  cursor: pointer;
  background: #333;
}
.yt-result-list-item .yt-result-list-item--img {
  float: left;
  height: 110px;
}
.yt-result-list-item .yt-result-list-item--playimg {
  margin: 30px 0 0 -126px;
  height: 50px;
  opacity: 0.8;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH;
  -ms-filter: "FlipH";
}
.yt-result-list-item .yt-result-list-item--playimg:hover {
  cursor: pointer;
  opacity: 1;
}
.yt-result-list-item .yt-result-list-item--rightContent {
  height: 100px;
  padding: 5px 10px;
  margin-left: 196px;
  margin-right: 130px;
}
.yt-result-list-item .yt-result-list-item--title {
  color: #c4110b;
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: lighter;
  font-family: source_sans_prolight;
}
.yt-result-list-item .yt-result-list-item--title .yt-result-list-item--title-container {
  padding: 0;
  margin: 0;
  height: 30px;
}
.yt-result-list-item .yt-result-list-item--subtitle {
  padding: 0;
  margin: 5px 0;
}
.yt-result-list-item .yt-result-list-item--description {
  padding: 0;
  margin: 5px 0;
}
.yt-result-list-item .yt-result-list-item--buttons {
  float: right;
  width: 120px;
  margin-top: -50px;
}
.yt-result-list-item .yt-result-list-item--buttons .yt-result-list-item--button {
  font-family: source_sans_prolight;
  font-size: 20px;
  display: block;
  width: 120px;
  padding: 5px;
  background: #c4110b;
  border: 0;
  outline: 0;
  color: #fff;
}
.yt-result-list-item .yt-result-list-item--buttons .yt-result-list-item--button:hover {
  cursor: pointer;
  background: #333;
}
.yt-send-overlay {
  background: rgba(144,144,144,0.9);
  padding: 0px 20px;
  position: fixed;
  left: 35%;
  top: 15%;
  color: #fff;
  display: none;
  width: 300px;
}
.yt-send-overlay.visible {
  display: block;
}
.yt-search {
  padding: 0px 0px 20px 0px;
}
input.yt-search--input {
  font-family: source_sans_prolight;
  font-size: 24px;
  display: block;
  width: 96%;
  padding: 0 2%;
  height: 50px;
  background-color: #f4f4f4;
  border: 0;
  outline: 0;
  color: #333;
}
.yt-search--button {
  width: 35px;
  height: 50px;
  background: none;
  border: 0;
  outline: 0;
  float: right;
  margin-top: -50px;
  margin-right: 20px;
}
.yt-search--button:hover {
  cursor: pointer;
}
.yt-search--button:hover path {
  fill: #fff;
}
.tile-label-semi-transparent {
  opacity: 1;
}
.tile-label-hidden-part {
  opacity: 0;
}
.tile-label-semi-transparent-20 {
  opacity: 0.2;
}
.tile-label-semi-transparent-40 {
  opacity: 0.4;
}
.tile-label-semi-transparent-60 {
  opacity: 0.6;
}
.tile-label-semi-transparent-80 {
  opacity: 0.8;
}
