.topbar-overlay-container {
  width: 1920px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(#000 0%, #fff 100%);
  opacity: 0.5;
  transition: 0.5s;
}

.topbar-title-container {
  width: 1980px;
  position: absolute;
  top: 30px;
  left: 500px;
  display: -webkit-inline-box;
  display: inline-flex;
}

.topbar-title-typo-bold {
  color: white;
  font-size: 62px;
  font-weight: bold;
  text-align: center;
}

.topbar-title-typo {
  color: #f2f2f2;
  font-size: 62px;
  text-align: center;
  margin-left: 100px;
}

.topbar-menu-icon {
  background-image: url("../img/colon.svg");
  background-repeat: no-repeat;
  width: 55px;
  height: 60px;
  position: absolute;
  left: 1356px;
  top: 10px;
}
