// ==========================================================================
// Global Variables
// ==========================================================================

// Base
// ==========================================================================
base-font-size = 16px

// Colors
// ==========================================================================
color-primary = #090

// Header
// ==========================================================================
header-offset-top = 50px

// Z-Indexes
// ==========================================================================
z-index-header = 4000
z-index-detail-view-header = 5000
