.yt-search{
  padding: 0px 0px 20px 0px;
}
input.yt-search--input {
  font-family: source_sans_prolight;
  font-size: 24px;
  display: block;
  width: 96%;
  padding: 0 2%;
  height: 50px;
  background-color: #f4f4f4;
  border: 0;
  outline: 0;
  color: #333;
}
.yt-search--button{
  width: 35px;
  height: 50px;
  background: none;
  border: 0;
  outline: 0;
  float: right;
  margin-top: -50px;
  margin-right: 20px;
}

.yt-search--button:hover{
  cursor: pointer;
  path{
    fill: #fff;
  }
}