/* ==========================================================================
	 Tile App Label Reveal
	 ========================================================================== */

/* If the label exceeds the boundaries, it gets shortened and a class is
// added to the grid-item element with the name "with-truncated-label".
// This is done in JS.*/


/* States
// ==========================================================================*/


.tile-label-semi-transparent {
  opacity: 1;
}

/* Sub elements
// ==========================================================================*/

.tile-label-hidden-part {
  opacity: 0.0;
}


/* Transparency classes for creating truncating effect
// ==========================================================================*/

.tile-label-semi-transparent-20 {
  opacity: 0.2;
}

.tile-label-semi-transparent-40 {
  opacity: 0.4;
}

.tile-label-semi-transparent-60 {
  opacity: 0.6;
}

.tile-label-semi-transparent-80 {
  opacity: 0.8;
}
